import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
import { getAuth } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
import { getFirestore } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
import { getStorage } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-storage.js";

const firebaseConfig = {
  apiKey: "AIzaSyAcRHO-N9ajnS7zkDE6y9huyfzot59MLz8",
  authDomain: "fiscalizacionapp-7041b.firebaseapp.com",
  projectId: "fiscalizacionapp-7041b",
  storageBucket: "fiscalizacionapp-7041b.appspot.com",
  messagingSenderId: "56623377151",
  appId: "1:56623377151:web:29013582facd0d21c43aca"
};

const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);
const storage = getStorage(app);

export { auth, db, storage };
