body {
    background: url('assets/img/bg-fiscalizacion.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 12px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.seguimiento {
    background-color: #5B267D;
    color: white;
}

.seguimiento:hover {
    background-color: #431D5F;
}

.salir {
    background-color: #D32F2F;
    color: white;
}

.salir:hover {
    background-color: #A12727;
}
